<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arboles</title>
</head>
<body>
    <div>
        name: <%= plants.data[i]['common_name'] %><br>
        species:<%= plants.data[i]['species'] %><br>
        
         <img src="<%=plants.data[i]['img_url']%>"></img>

    </div>
</body>
</html>